<launch>
  <arg name="vel" default="false"/>
  <node if="$(arg vel)" pkg="giskardpy_ros" type="soar_vel.py" name="giskard" output="screen"/>
  <node unless="$(arg vel)" pkg="giskardpy_ros" type="soar.py" name="giskard" output="screen"/>

  <!-- <node pkg="giskardpy_ros" type="joystick_e_stop.py" name="giskard_e_stop" output="screen">
    <rosparam param="button_ids">
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    </rosparam>
  </node> -->

  <node pkg="giskardpy_ros" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom, link_tcp_extension]
      - [odom, base_footprint]
      - [odom, head_tilt_link]
    </rosparam>
  </node>

</launch>
